body  {
    background-image: url("./../imgs/bg.jpg");
}
#question-box {
    height: 200px;
    width: 400px;
    background: white;
    padding: 2%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
#question-text-area {
    height: 80%;
    width: 100%;
}
#ask-ques {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 40%;
    background-color: silver;
}
#remove-ques {
   
    background-color: silver;
}
#user-questions {

    height: 70vh;
}
#other-user-questions {

    padding-bottom: 2%;
    height: 70vh;

}

#logout-button {
    
    background-color: silver;
    margin-left: 47%;
}
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #question-box  {
        width : 100%;
        margin-left : -50%;
    }
}

